<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../js/fiveStar.js"></script>
  <script src="../js/FiveStarWidget.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/FiveStarWidget.css">
  <link rel="stylesheet" type="text/css" href="../css/FiveStar.css">
  <meta name="theme-color" content="#fafafa">
  <title>Five Star Ratings</title>
</head>
<body>
  <h1 class="text-center">​Implement a 5-star widget for an eCommerce site for users to record a product rating.</h1>
  <ul>
    <li>The stars must change color up to the star being hovered over.</li>
    <li>I did not have to make a backend, I could assume data was pulled from a server.</li>
    <li>The page must support multiple items and therefore star ratings. </li>
  </ul>

  <!--Display the list of items here --->
<div class="d-flex justify-content-center">
  <div id="itemList">

  </div>
</div>



</body>
</html>
